
.container {
	width: 1000px;
	margin: 50px auto;
	position: relative;
}

.custom-marker {
	background: linear-gradient(#34a727 0, darkgreen 18px);
	background-color: darkgreen;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
	content: "";
	display: block;
	height: 40px;
	opacity: 0.95;
	position: absolute;
	width: 25px;
}

.custom-marker.start-marker {
	margin-left: -25px;
	border-radius: 25px 0 0 0;
}

.custom-marker.end-marker {
	border-radius: 0 25px 0 0;
}

.jcs-marker-moving {
	background: linear-gradient(#dddc00 0, darkgreen 18px);
}

aside.right {
	float: right;
}

.debug-console {
    background-color: #3B8686;
    border-radius: 15px;
    color: black;
    font-family: sans-serif;
    font-size: 12px;
    height: 300px;
    margin: 10px 0 0 0;
    padding: 5px 6px;
    text-align: center;
    width: 200px;
    display: none;
    overflow: auto;
}

.error-element {
    margin-bottom: 15px;
    border: 1px dashed #CFF09E;
    word-wrap: break-word;
}

.error-element div {
    padding: 5px;
}

.error-date {
    background-color: lightblue;
}

.error-message {
    background-color: lightcoral;
}

.error-place {
    background-color: lightgreen;
}

.settings {
	background-color: #3B8686;
	border-radius: 15px;
	color: white;
	font-family: sans-serif;
	font-size: 12px;
	height: 100px;
	margin: 0 0 10px 0;
	padding: 5px 6px;
	text-align: center;
	width: 200px;
}
.settings button {
	margin-bottom: 4px;
	width: 140px;
}

.touch_status {
	display: inline-block;
}

.selected-text-status-panel {
	background-color: #3B8686;
	border-radius: 15px;
	color: #CFF09E;
	font-family: sans-serif;
	font-size: 12px;
	height: 336px;
	overflow: auto;
	padding: 12px;
	right: 0;
	width: 186px;
}

.selected-text-status-panel span:first-of-type {
	display: block;
	font-weight: bolder;
	padding-bottom: 6px;
}

.scaller {
	width: 710px;
	-webkit-transform-origin: left top;
	-moz-transform-origin: left top;
	-ms-transform-origin: left top;
	transform-origin: left top;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
}

iframe {
	background-color: #ffffff;
	width: 1074px;
	height: 713px;
	border: 9px solid #A8DBA8;
	border-radius: 23px;
}
