.custom-selection-canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
}

#debugging {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

span.selection {
    background-color: yellow;
}

span.marker {
    display: inline-block;
    height: 0.9em;
    position: relative;
    width: 0;
}

span.marker:after {
    background: linear-gradient(#34a727 0, darkgreen 18px);
    background-color: darkgreen;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
    content: "";
    display: block;
    height: 35px;
    left: -12px;
    opacity: 0.9;
    position: absolute;
    top: 100%;
    width: 24px;
}

.settings {
    background-color: #4679bd;
    border-radius: 5px;
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    left: 50%;
    margin: 3px 3px 3px -250px;
    padding: 2px 6px;
    position: absolute;
    top: 0;
    width: 500px;
}

.touch_status {
    display: inline-block;
}

.selected-text-status-panel {
    background-color: #4679bd;
    border-radius: 5px;
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    height: 150px;
    overflow: auto;
    padding: 12px;
    position: fixed;
    right: 0;
    width: 250px;
}

.selected-text-status-panel span:first-of-type {
    display: block;
    font-weight: bolder;
    padding-bottom: 6px;
}